<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezy.approval.mapper.ApprovalApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ezy.approval.entity.ApprovalApply">
        <id column="id" property="id" />
        <result column="sp_no" property="spNo" />
        <result column="system_code" property="systemCode" />
        <result column="template_id" property="templateId" />
        <result column="sp_name" property="spName" />
        <result column="status" property="status" />
        <result column="use_template_approver" property="useTemplateApprover" />
        <result column="apply_time" property="applyTime" />
        <result column="emp_id" property="empId" />
        <result column="wx_user_id" property="wxUserId" />
        <result column="wx_party_id" property="wxPartyId" />
        <result column="apply_data" property="applyData" />
        <result column="error_reason" property="errorReason" />
        <result column="ack" property="ack" />
        <result column="callback_url" property="callbackUrl" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
